In [1]:
import numpy as np 
import pandas as pd

In [2]:
train_set = pd.read_csv('datasets/Titanic/train.csv')
test_set = pd.read_csv('datasets/Titanic/test.csv')

In [3]:
train_set.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
train_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [5]:
test_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [6]:
for t_set in [train_set, test_set]:
    t_set['Age'].fillna(t_set['Age'].mean(), inplace=True)
    t_set['Fare'].fillna(t_set['Fare'].mean(), inplace=True)
    t_set['Embarked'].fillna(t_set['Embarked'].mode()[0], inplace=True)

In [7]:
train_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       891 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [8]:
test_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            418 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           418 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [9]:
train_set.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
test_set.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [11]:
for dataset in [train_set, test_set]:
    dataset['Title'] = dataset.Name.str.extract(' ([A-Za-z]+)\.', expand=False)

pd.crosstab(train_set['Title'], train_set['Survived'])

Survived    0    1
Title
Capt        1    0
Col         1    1
Countess    0    1
Don         1    0
Dr          4    3
Jonkheer    1    0
Lady        0    1
Major       1    1
Master     17   23
Miss       55  127
Mlle        0    2
Mme         0    1
Mr        436   81
Mrs        26   99
Ms          0    1
Rev         6    0
Sir         0    1

In [12]:
pd.crosstab(test_set['Title'], test_set['Sex'])

Sex     female  male
Title
Col          0     2
Dona         1     0
Dr           0     1
Master       0    21
Miss        78     0
Mr           0   240
Mrs         72     0
Ms           1     0
Rev          0     2

In [13]:
for dataset in [train_set, test_set]:
    dataset['Title'] = dataset['Title'].replace(['Lady', 'Countess','Capt', 'Col', 'Don', 'Dr', 'Major', 'Sir', 'Jonkheer', 'Dona'], 'Rare')

    dataset['Title'] = dataset['Title'].replace('Mlle', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Ms', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Mme', 'Mrs')

In [14]:
pd.crosstab(train_set['Title'], train_set['Survived'])

Survived    0    1
Title
Master     17   23
Miss       55  130
Mr        436   81
Mrs        26  100
Rare        9    8
Rev         6    0

In [15]:
pd.crosstab(test_set['Title'], test_set['Sex'])

Sex     female  male
Title
Master       0    21
Miss        79     0
Mr           0   240
Mrs         72     0
Rare         1     3
Rev          0     2

In [16]:
title_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Rare": 5, "Rev": 6}
for dataset in [train_set, test_set]:
    dataset['Title'] = dataset['Title'].map(title_mapping)
    dataset['Title'] = dataset['Title'].fillna(0)

In [17]:
for dataset in [train_set, test_set]:
    dataset['Sex'] = dataset['Sex'].map({"female": 1, "male": 2})
    dataset['Sex'] = dataset['Sex'].fillna(0)

In [18]:
for dataset in [train_set, test_set]:
    dataset['Embarked'] = dataset['Embarked'].map({"C": 1, "Q": 2, "S": 3})
    dataset['Embarked'] = dataset['Embarked'].fillna(0)

In [19]:
for cat in ['Cabin', 'Name', 'PassengerId', 'Ticket']:
    train_set = train_set.drop(cat, axis=1)
    test_set = test_set.drop(cat, axis=1)

In [20]:
train_set.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked  Title
0         0       3    2  22.0      1      0   7.2500         3      1
1         1       1    1  38.0      1      0  71.2833         1      3
2         1       3    1  26.0      0      0   7.9250         3      2
3         1       1    1  35.0      1      0  53.1000         3      3
4         0       3    2  35.0      0      0   8.0500         3      1

In [21]:
test_set.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked  Title
0       3    2  34.5      0      0   7.8292         2      1
1       3    1  47.0      1      0   7.0000         3      3
2       2    2  62.0      0      0   9.6875         2      1
3       3    2  27.0      0      0   8.6625         3      1
4       3    1  22.0      1      1  12.2875         3      3

In [22]:
for dataset in [train_set, test_set]:
    dataset['Age_grps'] = pd.cut(dataset['Age'], bins=[0,12,24,50,120], labels=[1, 2, 3, 4])
    dataset['Fare_bin'] = pd.cut(dataset['Fare'], bins=[-10,0,15,50,100,750], labels=[1, 2, 3, 4, 5])

In [23]:
for cat in ['Fare', 'Age']:
    train_set = train_set.drop(cat, axis=1)
    test_set = test_set.drop(cat, axis=1)

In [24]:
train_x = train_set.drop('Survived', axis=1)
train_y = train_set['Survived']

In [25]:
train_x.head()

   Pclass  Sex  SibSp  Parch  Embarked  Title Age_grps Fare_bin
0       3    2      1      0         3      1        2        2
1       1    1      1      0         1      3        3        4
2       3    1      0      0         3      2        3        2
3       1    1      1      0         3      3        3        4
4       3    2      0      0         3      1        3        2

In [26]:
test_set.head()

   Pclass  Sex  SibSp  Parch  Embarked  Title Age_grps Fare_bin
0       3    2      0      0         2      1        3        2
1       3    1      1      0         3      3        3        2
2       2    2      0      0         2      1        4        2
3       3    2      0      0         3      1        3        2
4       3    1      1      1         3      3        2        2

In [27]:
from sklearn.model_selection import train_test_split
train_x0, train_x1, train_y0, train_y1 = train_test_split(train_x, train_y, test_size=0.334)
train_x2, train_x3, train_y2, train_y3 = train_test_split(train_x0, train_y0, test_size=0.50)

In [28]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import AdaBoostClassifier

params = {'penalty': ("l1", "l2"), "C": [1, 3, 5]}

log_reg = LogisticRegression()
log_clf = GridSearchCV(log_reg, params, cv=3)
log_clf.fit(train_x1, train_y1)

accuracy = cross_val_score(log_clf, train_x1, train_y1, scoring='accuracy', cv=3)
accuracy.mean()

0.8354882154882155

In [29]:
log_clf.best_estimator_

LogisticRegression(C=1)

In [30]:
#from sklearn.neighbors import KNeighborsClassifier

#params = {'n_neighbors': [3, 5, 10]}
#kn = KNeighborsClassifier()

#kn_clf = GridSearchCV(kn, params, cv=3)
#kn_clf.fit(train_x2, train_y2)

#accuracy = cross_val_score(kn_clf, train_x2, train_y2, scoring='accuracy', cv=3)
#accuracy.mean()

In [31]:
from sklearn.svm import SVC
svm = SVC(probability=True)

params = {'kernel': ('rbf', 'poly'), 'C': [0.001, 0.01, 0.1, 1], 'coef0': [0, 0.5, 1, 2, 3]}
svm_clf = GridSearchCV(svm, params, cv=3)
svm_clf.fit(train_x3, train_y3)

accuracy = cross_val_score(svm_clf, train_x3, train_y3, scoring='accuracy', cv=3)
accuracy.mean()

0.7777777777777778

In [32]:
svm_clf.best_params_

{'C': 1, 'coef0': 0.5, 'kernel': 'poly'}

In [33]:
#from sklearn.tree import DecisionTreeClassifier
#dcn_tre = DecisionTreeClassifier()

#arams = {'min_samples_split': [2, 3, 5, 7], 'min_samples_leaf': [1, 3, 5, 7]}
#dt_clf = GridSearchCV(dcn_tre, params, cv=3)
#dt_clf.fit(train_x, train_y)

#accuracy = cross_val_score(dt_clf, train_x, train_y, scoring='accuracy', cv=3)
#accuracy.mean()

In [34]:
from sklearn.ensemble import RandomForestClassifier
rnd_fst = RandomForestClassifier()

n_estim = range(100,500,100)
## Search grid for optimal parameters
params = {"n_estimators" :n_estim, "max_depth": [1, 2, 3, 4], "min_samples_leaf": [1, 2]}


rf_clf = GridSearchCV(rnd_fst, param_grid = params, cv=3)
rf_clf.fit(train_x2,train_y2)

accuracy = cross_val_score(rf_clf, train_x2, train_y2, scoring='accuracy', cv=3)
accuracy.mean()

0.831031402459974

In [35]:
rf_clf.best_params_

{'max_depth': 4, 'min_samples_leaf': 1, 'n_estimators': 100}

In [36]:
#from sklearn.ensemble import VotingClassifier

#vtng_clf = VotingClassifier(estimators=[('lr', log_clf), ('rf', rf_clf), ('svc', svm_clf)], voting='hard')
#vtng_clf.fit(train_x, train_y)

#accuracy = cross_val_score(vtng_clf, train_x, train_y, scoring='accuracy', cv=3)
#accuracy.mean()

In [37]:
from sklearn.ensemble import VotingClassifier

vtng_clf = VotingClassifier(estimators=[('lr', log_clf), ('rf', rf_clf), ('svc', svm_clf)], voting='soft')
vtng_clf.fit(train_x, train_y)

accuracy = cross_val_score(vtng_clf, train_x, train_y, scoring='accuracy', cv=3)
accuracy.mean()

0.8249158249158249

# Error Correction that we can try:

In [ ]:
okk = np.logical_or(train_set['Title'] == 1, train_set['Title'] == 2)
correction_set = train_set[okk]
#correction_set = train_set[train_set['Title'] == 1]
correction_set['Survived'].value_counts()

In [ ]:
corr_x = correction_set.drop('Survived', axis=1)
corr_y = correction_set['Survived']

In [ ]:
corr_x

In [ ]:
#Model for correction
svm_cr = SVC(probability=True)

params_cr = {'kernel': ('rbf', 'poly'), 'C': [0.001, 0.01, 0.1, 1], 'coef0': [0, 0.5, 1, 2, 3]}
svm_cr_clf = GridSearchCV(svm_cr, params_cr, cv=3)
svm_cr_clf.fit(corr_x, corr_y)

accuracy = cross_val_score(svm_cr_clf, corr_x, corr_y, scoring='accuracy', cv=3)
accuracy.mean()

In [ ]:
svm_cr_clf.best_params_

# Retraining Final Model (2)

In [ ]:
from sklearn.ensemble import VotingClassifier

vtng_clf2 = VotingClassifier(estimators=[('lr', log_clf), ('rf', rf_clf), ('svc', svm_clf), ('svc_cr', svm_cr_clf)], voting='soft')
vtng_clf2.fit(train_x, train_y)

accuracy = cross_val_score(vtng_clf2, train_x, train_y, scoring='accuracy', cv=3)
accuracy.mean()

# Kaggle Submission

In [ ]:
y_pred = vtng_clf.predict(test_set)

In [ ]:
test_set_rn = pd.read_csv('datasets/Titanic/test.csv')

In [ ]:
submission = pd.DataFrame({
        "PassengerId": test_set_rn["PassengerId"],
        "Survived": y_pred
    })
submission.head()

In [ ]:
submission.to_csv('datasets/Titanic/Submission1.csv', index=False)

# Test Model

In [ ]:
rnd_fst2 = RandomForestClassifier()

n_estim2 = range(100,500,100)
## Search grid for optimal parameters
params2 = {"n_estimators" :n_estim2, "max_depth": [1, 2, 3, 4], "min_samples_leaf": [1, 2]}


rf_clf2 = GridSearchCV(rnd_fst2, param_grid = params2, cv=3)

rf_clf2.fit(train_x, train_y)

accuracy = cross_val_score(rf_clf2, train_x, train_y, scoring='accuracy', cv=3)
accuracy.mean()

In [ ]:
y_pred2 = rf_clf2.predict(test_set)

submission = pd.DataFrame({
        "PassengerId": test_set_rn["PassengerId"],
        "Survived": y_pred2
    })
submission.head()

In [ ]:
submission.to_csv('datasets/Titanic/Submission2.csv', index=False)